$bg-header-color: #0024a4e5;
$primary-color: #fa0504;
$orange-color: #ff5c02;
$black-color: #000;
$white-color: #ffff;
$space-xxl: 88px;
$space-xl: 64px;
$space-l: 40px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-dropdown: 200px;
